*{
    padding: 0;
    margin: 0;
}
body{
    background-color: cornflowerblue;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}

/* ------------ HEADER- NAVIGATION ------------ */
h1{
    font-size: 2rem;
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: 'Indie Flower', cursive;
}
ul{
    border: 1px solid white;
    text-align: center;
    font-size: 5vh;
    position: absolute;
    top: 80%;
    right: 10%;
    background-color: hsla(41, 44%, 100%, 0.28);
    border-radius: 10%;
}
li{
    list-style-type:none;
    padding: 20px;
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
    color: black;
}

header{
    height: 98vh;
    position: relative;
    background: url(pics/cats.jpg) no-repeat center center fixed; /* pictures at the same place!!!*/
    background-size: 100% 100%;
}
img{
    width: 100%; 
    height: 100%;
}

/* ------------ COMMON ELEMENTS ------------ */
hr{
    padding: 0;
    margin: 1vh;;
    
}
section{
    border: 0.1vh solid blue;
    width: 80vw;
    height: 98vh;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: left;
    margin: 30px;
    font-family: 'Indie Flower', cursive;
}
p{
    margin: 30px;
    font-family: 'Pacifico', cursive;
}


/* ------------ COMPANY ------------ */
#company{
    height: 98vh;
}

/* ------------ PRODUCTS ------------ */
#products img{
    width: 32%;
    height: 50%;
    float: left;
    display: inline-block;
}
#products{
    text-align: center;
}

/* ------------ TEAM ------------ */
#team img{
    width: 45%;
    height: 70%;
    padding: 5px;
    display: inline-block;
}
#team{
    text-align: center;
}

/* ------------ CONTACT ------------ */
#contact{
    height: 80vh;
    position: relative;
    background: url(pics/contact.jpg) no-repeat center right fixed; /* pictures at the same place!!!*/
    background-size: auto;
}
#contact p{
    width: 40%;
}

/* ------------ FOOTER ------------ */
footer{
    border: 2px solid blue;
    width: 80vw;;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    display: inline-block;
    border-radius: 40%;
    border: 0.5px solid white;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0;
}
footer p{
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
}
footer div{
    //text-align: center;
    height: 10vh;
    line-height: 10vh;
}